.App {
  min-height: 100vh;
  text-align: center;
  background-color: #0a0a0a;
  color: #eee;
}

.nav__bg {
  background-color: #0a0a0a;
}

.nav__logo {
  color: rgb(25, 207, 25);
  font-weight: 700;
  font-size: 24px;
}

.main__container {
  /* background-color: #111; */
}

.results__container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.artist__img {
  height: 50px;
  width: 50px;
}

.table__link {
  text-decoration: none;
  color: #ddd;
  cursor: pointer;
  font-weight: 800;
}
.table__link:hover {
  color: #fff;
}

.artist__container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.artist__header {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
}

.card-body-text {
  color: #ccc;
}

.album__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.track__container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}